.chart-list {
  padding: 20px;
  font-size: 13px;
  color: #333;
  width: 60%;
  margin: 0 auto;
}

.-list {
  font-size: 14px;
  display: flex;

  .-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5px;
  }

  .-image {
    width: 40px;
    height: 40px;
    /* margin-top: 2px; */
    margin-right: 10px;
    border-radius: 15px;
    background-color: #CCC;
  }

  .name {
    display: block;
    line-height: 25px;
  }

  .-chat {
    display: inline-block;
    padding: 15px;
    background-color: #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    height: auto;
    position: relative;
  }
  
  &.-me {
    justify-content: flex-end;

    .name { text-align: right; }
    .-chat { background-color: rgb(255, 203, 124); }
  }

  textarea {
    border: none;
    resize: none;
    font-style: normal;
    background-color: transparent;
    
    &:focus { outline: none; }
  }
}

.-comeout {
  text-align: center;
  line-height: 1.8;
  font-size: 12px;

  span {
    display: inline-block;
    padding: 0 10px;
    border-radius: 25px;
    background-color: #CCC;
  }
}

.-checkbox-wrap {
  border: 1px solid pink;
  display: block;
}

.-checkbox {
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  left: 100%;
}