button {  
  padding: 10px 25px;
  background-color:#5ebdb7;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  border: none;

  &:disabled {
    color: #91a6a5;
    background-color: #618d8a;
    cursor: not-allowed;
  }
}

h1 {
  font-size: 10rem;
  border: 1px solid red;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}