button {  
  padding: 10px 25px;
  background-color:#5ebdb7;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  border: none;

  &:disabled {
    border: 1px solid red;
  }
}

h1 {
  font-size: 3em;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}